@{
    ViewBag.Title = "Bindings";
}

<h2>Bindings with Contact....</h2>

<div class="row m-1">
    <div class="col-3">
        <div class="card card-outline-primary">
            <h5 class="bg-primary text-center">New Contact</h5>
            <div class="card-block">
                <div>
                    <div class="form-group">
                        Name: <input type="text" data-bind="value: Name"/>
                    </div>
                    <div class="form-group">
                        Phone: <input type="text" data-bind="value: Phone" />
                    </div>
                    <div class="form-group">
                        Group: <input type="text" data-bind="value: Group" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-sm" data-bind="click: addContact">New Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card card-outline-warning">
            <h5 class="bg-warning">Contact List <span class="badge badge-danger badge-pill pull-right mr-1"></span></h5>
            <div class="card-block">
                <table class="table table-responsive table-bordered table-sm table-hover" data-bind="foreach: contactList">
                    <tr>
                        <td><span data-bind="text: Name"></span></td>
                        <td><span data-bind="text: Phone"></span></td>
                        <td><span data-bind="text: Group"></span></td>
                        <td>
                            <a class="btn btn-sm btn-outline-info" id="editContact">Edit</a>&nbsp;
                            <a class="btn btn-sm btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>



<script src="~/Scripts/Lib/bindings.js"></script>